<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>wrsssrqrezna@tznvy.pbz</string>
	<key>contactName</key>
	<string>Jeff Federman</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>Twitter Bootstrap 3</string>
	<key>uuid</key>
	<string>969CE2E5-D486-486D-94B2-A7BF871314A6</string>
</dict>
</plist>
